<div class="d-flex justify-content-center flex-column align-items-center" id="content">
    <h2 class="mt-5 mb-5">Best winter tips</h2>

    <div class="d-flex row row-cols-2 justify-content-around" id="card-listing">
        <div class="col card text-white card-item">
            <img src="https://cdn.pixabay.com/photo/2019/12/29/17/45/winter-4727668__340.jpg" class="card-img"
                alt="test">
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
                <h5 class="card-title">Card title</h5>
            </div>
        </div>
        <div class="col card text-white card-item">
            <img src="https://cdn.pixabay.com/photo/2015/09/09/17/57/ski-932188__340.jpg" class="card-img"
                alt="test">
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
                <h5 class="card-title">Card title</h5>
            </div>
        </div>
        <div class="col card text-white card-item">
            <img src="https://cdn.pixabay.com/photo/2014/05/03/00/07/ski-lift-336534__340.jpg" class="card-img"
                alt="test">
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
                <h5 class="card-title">Card title</h5>
            </div>
        </div>
        <div class="col card text-white card-item">
            <img src="https://cdn.pixabay.com/photo/2019/02/12/00/03/skilanglauf-3991044__340.jpg" class="card-img"
                alt="test">
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
                <h5 class="card-title">Card title</h5>
            </div>
        </div>

    </div>
</div>