<div class="d-flex flex-column text-white justify-content-center align-items-center" id="hero">
    <h1 class="pb-3 text-center" id="herotitle">We are your ultimate <br> Winter experience provider!</h1>
    <h6 class="pb-3 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Nam efficitur velit et neque
        tristique, in tincidunt nulla scelerisque. <br> Vivamus sollicitudin justo quis augue lacinia euismod.</h6>
        <button class="mt-5" type="button" routerLink="/about">Learn more</button>
</div>