<div id="about">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur velit et neque tristique, in tincidunt
        nulla scelerisque. Vivamus sollicitudin justo quis augue lacinia euismod. Vestibulum rutrum ante in sem
        ullamcorper, quis lobortis ligula vehicula. Donec dignissim viverra tellus vel euismod. Quisque semper nibh
        velit, sed luctus nunc vehicula sed. Curabitur in mi feugiat, interdum nisi at, tincidunt quam. Morbi rhoncus
        dolor imperdiet nunc malesuada blandit. Vivamus porta urna orci, ac condimentum felis tincidunt et. Sed egestas
        facilisis eros, sit amet posuere justo euismod nec.
    </p>
</div>

