<div class="d-flex flex-column text-white justify-content-center align-items-center" id="subhero">
    <h2 class="pb-5">Why we're the best</h2>
    <div class="d-flex justify-content-around" id="icons">
        <div class="icon-item">
            <h6>Accomodations</h6>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur velit et neque tristique, in
                tincidunt nulla scelerisque. </p>
        </div>
        <div class="icon-item">
            <h6>Transportation</h6>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur velit et neque tristique, in
                tincidunt nulla scelerisque. </p>
        </div>
        <div class="icon-item">
            <h6>Seasoned Agents</h6>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur velit et neque tristique, in
                tincidunt nulla scelerisque. </p>
        </div>
        <div class="icon-item">
            <h6>Easy trip planning</h6>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur velit et neque tristique, in
                tincidunt nulla scelerisque. </p>
        </div>
    </div>
</div>